* {
  border: none;
  font-family: Fira Code;
  font-size: 16px;
  /* font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"'; */
  min-height: 15px;
}

window#waybar {
  background: #000000;
}

#custom-arch, #hyprland-workspaces {
  border-radius: 10px;
  background-color: #000000;
  color: #D5C4A1;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-arch {
  font-size: 18px;
  color: #D5C4A1;
}

#hyprland-window, #temperature, #keyboard-state, #language, #backlight, #pulseaudio, #bluetooth, #network, #battery, #clock {
  border-radius: 10px;
  background-color: #000000;
  color: #D5C4A1;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

#tray {
  border-radius: 10px;
  background-color: #111111;
  color: #D5C4A1;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
