workspace "entertainment" {
    open-on-output "DP-1"
}
workspace "research"
workspace "development" {
    open-on-output "DP-1"
}
workspace "communication"
workspace "gaming" {
    open-on-output "DP-1"
}
workspace "notes"
workspace "tools"
workspace "music"
workspace "system"
workspace "misc"

