    layout {
        gaps 10 // Gap between windows
        center-focused-column "never" // Don’t auto-center focused column

        background-color "transparent" // <- needed for noctalia-shell to set wallpaper

        always-center-single-column
        // default-column-display "tabbed"

        preset-column-widths {
            proportion 0.5
            proportion 1.0
        }

        struts {
            // left 64
            // right 64
        }

        border {
            on

            width 2

            active-color "#ffffff"
            inactive-color "#000000"

            urgent-color "9b0000"
        }
        focus-ring {
            off

            width 2

            active-color "#ffffff"
            inactive-color "#000000"

            urgent-color "9b0000"
        }
    }
