    window-rule {
        geometry-corner-radius 10
        clip-to-geometry true
    }

     // if you use steam you will probably like these
    window-rule {
        match app-id="steam"
        exclude title=r#"^[Ss]team$"#
        open-floating false
        variable-refresh-rate true
        open-on-workspace "gaming"
    }

    window-rule {
       match app-id=r#"Minecraft.*"#
       open-on-workspace "gaming"
       variable-refresh-rate true
       open-focused false
    }

    window-rule {
       match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
       default-floating-position x=10 y=10 relative-to="bottom-right"
       open-focused false
    }

    window-rule {
       match app-id="modrinth-app"
       open-on-workspace "gaming"
    }

    window-rule {
       match app-id="Spotify"
       open-on-workspace "music"
    }

    window-rule {
       match app-id="obsidian"
       open-on-workspace "notes"
    }

    window-rule {
       match app-id="discord"
       open-on-workspace "communication"
    }

    window-rule {
       match app-id="org.keepassxc.KeePassXC"
       open-on-workspace "tools"
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
