workspace "entertainment"
workspace "research"
workspace "development"
workspace "communication"
workspace "gaming"
workspace "notes"
workspace "tools"
workspace "w8"
workspace "music"
workspace "system"

